.search-bar {
  flex: 1;
  display: flex;
  background: white;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin-left: 20px;
  @media (max-width: 480px) {
    margin: 15px 0 0 0;
    height: 1.5em;
  }
}
